<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>7C321AC5-3A29-42BE-994A-F23820B0C82E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>872DF315-701C-4362-B40F-955EDC98C60B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>V2arK</string>
	<key>description</key>
	<string>Open Warp with given commands using Configuration</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Warp Intergration</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>w</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Run CLI</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7C321AC5-3A29-42BE-994A-F23820B0C82E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>script="alfred.yaml"

cd ~/.warp/launch_configurations/

echo "---" &gt;"$script"
echo "name: Alfred" &gt;&gt;"$script"
echo "windows:" &gt;&gt;"$script"
echo "  - tabs:" &gt;&gt;"$script"
echo "      - layout:" &gt;&gt;"$script"
echo "          cwd: \$(~)" &gt;&gt;"$script"
echo "          commands:" &gt;&gt;"$script"
echo -n "            - exec: " &gt;&gt;"$script"
echo "{query}" &gt;&gt;"$script"

osascript -e 'tell application "System Events" to open location "warp://launch/alfred.yaml"'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>872DF315-701C-4362-B40F-955EDC98C60B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow uses the URL scheme with the launch configuration to achieve a native experience like the Alfred intergration with the Terminal.</string>
	<key>uidata</key>
	<dict>
		<key>7C321AC5-3A29-42BE-994A-F23820B0C82E</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>872DF315-701C-4362-B40F-955EDC98C60B</key>
		<dict>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.1</string>
	<key>webaddress</key>
	<string>v2ark.com</string>
</dict>
</plist>
