[user]
	name = Kiril Vodenicharov
	email = kirilvodenicharov@gmail.com
[core]
	editor = nvim
[color]
	ui = auto
	diff = auto
[color "branch"]
    current = blue
[include]
    path = ~/.gitconfig-secrets
